{% load static %}
		 <div class="h_menu4"><!-- start h_menu4 -->
		   <a class="toggleMenu" href="#">Menu</a>
			 <ul class="nav">
			   <li><a href="/">Home</a></li>
			   <li><a href="/about/">About</a></li>
			   <li><a href="/trainers/">Trainers</a></li>
			   <li><a href="/classes/">Classes</a></li>
			   <li><a href="/timetable/">TimeTable</a></li>
			   <li><a href="/pricing/">Pricing</a></li>
			   <li><a href="/contact/">Contact</a></li>
			 </ul>
			  <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
		  </div><!-- end h_menu4 -->
